body {
    background-color:rgb(247, 217, 184)
  }
  
  img{
    width :600px
  }
/* unvisited link */
a:link {
  color: rgb(4, 0, 255);
}

/* visited link */
a:visited {
  color: rgb(192, 115, 115);
}

/* mouse over link */
a:hover {
  color: rgb(235, 63, 149);
}

/* selected link */
a:active {
  color: rgb(235, 63, 149);
}

#bildeheader{
  width: 200px;
  float: right;
  
}
